
.vs/StressAnalysisAutomation/v15/Server/sqlite3/storage.ide-wal
.vs/StressAnalysisAutomation/v15/Server/sqlite3/storage.ide-shm
.vs/StressAnalysisAutomation/v15/Server/sqlite3/storage.ide
.vs/StressAnalysisAutomation/v15/.suo
.vs/StressAnalysisAutomation/v15/.suo
.vs/StressAnalysisAutomation/v15/.suo
.vs/StressAnalysisAutomation/v15/Server/sqlite3/storage.ide-shm
.vs/StressAnalysisAutomation/v15/Server/sqlite3/storage.ide-wal
MyCAD/bin/Debug/app.publish/MyCAD.exe
*.application
*.exe
*.manifest
MyCAD/bin/Debug/MyCAD.pdb
*.application
MyCAD/obj/Debug/MyCAD.exe
MyCAD/obj/Debug/MyCAD.exe.manifest
MyCAD/obj/Debug/MyCAD.pdb
